body {background-color: rgb(48, 48, 48);}

#cont {
    position: absolute;
    background-color: gray;
    width: 35%;
    height: 80%;
    top: 12.5%;
    left: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    
}

#cont1 {
    position: absolute;
    background-color: lightgray;
    width: 90%;
    height: 65%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1%;
}

#cont2 {
    position: absolute;
    background-color: white;
    width: 0%;
    height: 20%;
    top: 5%;
    overflow: hidden;
}

.btn1 {
    margin: 20px;
    height: 60px;
    width: 60px;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn1:nth-child(4) {
    background-color:rgb(0, 153, 255);
    font-size: 30px;
}


.btn1:nth-child(8) {
    background-color:rgb(0, 153, 255);
    font-size: 30px;
}

.btn1:nth-child(12) {
    background-color:rgb(0, 153, 255);
    font-size: 30px;
}

.btn1:nth-child(16) {
    background-color:rgb(0, 153, 255);
    font-size: 30px;
}

.btn1:nth-child(13) {
    background-color:rgb(255, 81, 0);
    font-size: 20px;
}

.btn1:nth-child(15) {
    background-color:rgb(0, 255, 106);
    font-size: 30px;
}


#input {
    width: 95%;
    height: 100%;
    border: none;
    left: 5%;
    opacity: 0;
}


textarea:focus, input:focus{
    outline: none;
}

textarea:focus, .btn1:focus{
    outline: none;
    background-color: rgb(167, 167, 167);
    transition: 0.3s;
}

/* indicateur  */

#indic {
    position: absolute;
    top: 0%;
    width: 95%;
    height: 40px;
    z-index: 100;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}